/**
 * Глобальные стили
 */

/* Импорт дизайн-системы */
@import "./app/shared/design-system/design-system.css";

/* Импорт шрифта Google - Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
